
<MCard>
    <div class="d-flex">
        <div class="flex-grow-1 text--accent-1">
            @(WeatherData.Lives == null ? string.Empty : WeatherData.Lives.Temp)
            ℃
        </div>
        <div class="flex-grow-1">
            <MIcon XLarge>
                mdi-white-balance-sunny
            </MIcon>
        </div>
    </div>
</MCard>
@if(WeatherData.ForecastHours != null)
{
    <div>
        <div>
            24小时天气预报
        </div>
        <div class="d-flex">
            @foreach (var item in WeatherData.ForecastHours)
            {
                <div>
                    <div>@item.DateTime.ToString("HH:mm")</div>
                    <div>
                        <MIcon>mdi-weather-night</MIcon>
                    </div>
                    <div>
                        @item.Temp
                    </div>
                </div>
            }
            
        </div>
    </div>
}
@if (WeatherData.ForecastDay != null)
{
    <div>
        <div>
            24小时天气预报
        </div>
        <div class="d-flex">
            @foreach (var item in WeatherData.ForecastDay)
            {
                <div>
                    <div>@item.Date.ToString("yyyy-MM-dd")</div>
                    <div>
                        <MIcon>mdi-weather-night</MIcon>
                    </div>
                    <div>
                        @item.MinTemp
                        @item.MaxTemp
                        @item.Weather
                    </div>
                </div>
            }

        </div>
    </div>
}


