
<MCard Class="rounded-lg my-5">
    <MCardText Style="width:auto;">
        <MSheet Class="d-flex justify-space-between align-center px-sm-10">
            <div class="weather-baseInfo justify-space-around justify-sm-start">
                <div class=" d-flex align-end">
                    <span class="text-h2 font-weight-medium">
                        @((WeatherLives.Temp ?? string.Empty) + "°")
                    </span>
                    <span class="text-h6 font-weight-bold">
                        @(WeatherLives.Weather ?? string.Empty)
                    </span>
                </div>
                <div class="weather-icon ps-sm-10">
                    <i class="m-icon text-h1 @(IsDark()?"theme--dark":"theme--light") @(GetWeatherIcon(WeatherLives.Weather,WeatherLives.LastUpdate))">

                    </i>
                </div>
            </div>
            <MSubheader Class="d-none d-md-flex align-center text-h5 font-weight-bold">
                <MTooltip Bottom>
                    <ActivatorContent>
                        <MButton @attributes="@context.Attrs"
                                 Icon
                                 XLarge
                                 Loading="LoadingUpadateWeather"
                                 Disabled="LoadingUpadateWeather"
                                 OnClick="UpadateWeather">
                            <MIcon>
                                mdi-rotate-3d-variant
                            </MIcon>
                        </MButton>
                    </ActivatorContent>
                    <ChildContent>
                        <span>刷新</span>
                    </ChildContent>
                </MTooltip>
                <span>更新时间：</span>
                <span>@(WeatherLives.LastUpdate.ToString("HH:mm"))</span>
            </MSubheader>
        </MSheet>
    </MCardText>
</MCard>

@if (WeatherForecastHours != null)
{
    <MCard Class="rounded-lg my-5">
        <MCardTitle Class="d-none d-sm-flex">逐小时预报</MCardTitle>
        <MSubheader Class="d-sm-none">逐小时预报</MSubheader>
        <div class="swiper swiper-forecast-hours">
            <div class="swiper-wrapper">
                @foreach (var item in WeatherForecastHours)
                {
                    <div class="swiper-slide">
                        <MList Dense="!MasaBlazor.Breakpoint.SmAndUp">
                            <MListItem Class="text-body-2">
                                @(WeatherForecastHours.IndexOf(item) == 0 ? "现在" : item.DateTime.ToString("HH:mm"))
                            </MListItem>
                            <MListItem Class="d-flex justify-center">
                                <i class="m-icon @(IsDark()?"theme--dark":"theme--light") @(GetWeatherIcon(item.Weather,item.DateTime))"></i>
                            </MListItem>
                            <MListItem Class="d-flex justify-center">
                                @(item.Temp + "°")
                            </MListItem>
                        </MList>
                    </div>
                }
            </div>
        </div>
    </MCard>
}


@if (WeatherForecastDays != null)
{
    <MCard Class="rounded-lg my-5">
        <MCardTitle Class="d-none d-sm-flex">近日天气预报</MCardTitle>
        <MSubheader Class="d-sm-none">近日天气预报</MSubheader>
        <MList Dense="MasaBlazor.Breakpoint.Xs">
            @foreach (var item in WeatherForecastDays)
            {
                <MListItem>
                    <MListItemTitle>
                        @(WeatherForecastDays.IndexOf(item) == 0 ? "今天" : item.Date.DayOfWeek.ToWeek())
                    </MListItemTitle>

                    <MListItemTitle>
                        <i class="m-icon @(IsDark()?"theme--dark":"theme--light") @(GetDayWeatherIcon(item.Weather))"></i>
                        @(item.Weather)
                    </MListItemTitle>

                    <MListItemSubtitle Class="text-right">
                        <span class="text-subtitle-1 @(IsDark()?"white--text":"black--text")">@(item.MaxTemp + "°")</span>
                        <span>@("/" + item.MinTemp + "°")</span>
                    </MListItemSubtitle>
                </MListItem>
            }
        </MList>
    </MCard>
}



<div class="weather-lives-item my-5">
    <WeatherLivesInfoCard Value="@(WeatherLives.WindDeg)"
                          Name="风向"
                          Icon="mdi-sign-direction">
    </WeatherLivesInfoCard>
    <WeatherLivesInfoCard Value="@(WeatherLives.WindSpeed)"
                          Name="风速"
                          Unit="km/h"
                          Icon="mdi-weather-windy">
    </WeatherLivesInfoCard>
    <WeatherLivesInfoCard Value="@(WeatherLives.WindScale)"
                          Name="风力等级"
                          Unit="级"
                          Icon="mdi-chevron-double-up">
    </WeatherLivesInfoCard>
    <WeatherLivesInfoCard Value="@(WeatherLives.Humidity)"
                          Name="湿度"
                          Unit="%"
                          Icon="mdi-water">
    </WeatherLivesInfoCard>
    <WeatherLivesInfoCard Value="@(WeatherLives.FeelsLike)"
                          Name="体感温度"
                          Unit="℃"
                          Icon="mdi-thermometer">
    </WeatherLivesInfoCard>
    <WeatherLivesInfoCard Value="@(WeatherLives.Pressure)"
                          Name="大气压"
                          Unit="hPa"
                          Icon="mdi-compass">
    </WeatherLivesInfoCard>
    <WeatherLivesInfoCard Value="@(WeatherLives.Visibility)"
                          Name="能见度"
                          Icon="mdi-eye"
                          Unit="km">
    </WeatherLivesInfoCard>
    <WeatherLivesInfoCard Value="@(WeatherLives.Cloud)"
                          Name="云量"
                          Icon="mdi-cloud"
                          Unit="%">
    </WeatherLivesInfoCard>
</div>

<MDialog @bind-Value="ShowErrorDialog"
         MaxWidth="420"
         Persistent="!OperatingSystem.IsBrowser()">
    <MCard>
        <MCardTitle>
            <MIcon Class="error--text mr-2">
                mdi-close-circle-outline
            </MIcon>
            @ErrorDialogTitle
        </MCardTitle>
        <MCardText>
            @ErrorDialogText
        </MCardText>
        <MCardActions>
            <MSpacer></MSpacer>
            @if (OperatingSystem.IsBrowser())
            {
                <MButton Text OnClick="()=>ShowErrorDialog=false">
                    取消
                </MButton>
                <MButton Text Class="error--text" OnClick="()=>ShowErrorDialog=false">
                    确认
                </MButton>
            }
            else
            {
                <MButton Text OnClick="()=>SystemService.ExitApp()">
                    退出
                </MButton>
            }

        </MCardActions>
    </MCard>
</MDialog>
