<MCard>
    <div class="d-flex align-items-center">
        <MCardTitle>
            <h1>
                @(Temp)℃
            </h1>
        </MCardTitle>
        <MAvatar Size="100" Tile>
            <MIcon XLarge>mdi-weather-cloudy</MIcon>
        </MAvatar>
    </div>
    <div>
        @foreach (var item in ForecastDays)
        {
            <div>@item.Date.ToString("yyyy-MM-dd")</div>
            <div>@item.Weather</div>
            <div>@item.MinTemp</div>
            <div>@item.MaxTemp</div>
        }
    </div>
</MCard>

