
<MCard Class="rounded-lg">
    <MCardText Style="width:auto;">
        <MSheet Class="d-flex justify-space-between px-5 px-sm-10">
            <div class="weather-baseInfo justify-space-around justify-sm-start">
                <div class=" d-flex align-end">
                    <span class="weather-temp font-weight-medium">
                        @((WeatherLives.Temp ?? string.Empty) + "°")
                    </span>
                    <span class="text-h6 font-weight-bold">
                        @(WeatherLives.Weather ?? string.Empty)
                    </span>
                </div>
                <div class="weather-icon ps-sm-10">
                    <MIcon Class="@($"text-h1 {(IsDark()?"":"black--text")}" )">
                        mdi-white-balance-sunny
                    </MIcon>
                </div>
            </div>
            <div class="d-none d-md-flex align-center ps-10 text-h5 font-weight-bold">
                <span>更新时间：</span>
                <span>@(WeatherLives.LastUpdate.ToString("HH:mm"))</span>
            </div>
        </MSheet>
    </MCardText>
</MCard>

<div class="weather-lives-item my-5">
    <WeatherLivesInfoCard Value="@(WeatherLives.WindDeg)"
                          Name="风向"
                          Icon="mdi-sign-direction">
    </WeatherLivesInfoCard>
    <WeatherLivesInfoCard Value="@(WeatherLives.WindSpeed)"
                          Name="风速"
                          Unit="km/h"
                          Icon="mdi-weather-windy">
    </WeatherLivesInfoCard>
    <WeatherLivesInfoCard Value="@(WeatherLives.WindScale)"
                          Name="风力等级"
                          Unit="级"
                          Icon="mdi-chevron-double-up">
    </WeatherLivesInfoCard>
    <WeatherLivesInfoCard Value="@(WeatherLives.Humidity)"
                          Name="湿度"
                          Unit="%"
                          Icon="mdi-water">
    </WeatherLivesInfoCard>
    <WeatherLivesInfoCard Value="@(WeatherLives.FeelsLike)"
                          Name="体感温度"
                          Unit="℃"
                          Icon="mdi-thermometer">
    </WeatherLivesInfoCard>
    <WeatherLivesInfoCard Value="@(WeatherLives.Pressure)"
                          Name="大气压"
                          Unit="hPa"
                          Icon="mdi-compass">
    </WeatherLivesInfoCard>
    <WeatherLivesInfoCard Value="@(WeatherLives.Visibility)"
                          Name="能见度"
                          Icon="mdi-eye"
                          Unit="km">
    </WeatherLivesInfoCard>
    <WeatherLivesInfoCard Value="@(WeatherLives.Cloud)"
                          Name="云量"
                          Icon="mdi-cloud"
                          Unit="%">
    </WeatherLivesInfoCard>
</div>

@if (WeatherForecastHours != null)
{
    <MCard Class="rounded-lg">
        <MCardTitle>逐小时预报</MCardTitle>
        <div class="swiper swiper-forecast-hours">
            <div class="swiper-wrapper">
                @foreach (var item in WeatherForecastHours)
                {
                    <div class="swiper-slide">
                        <MList>
                            <MListItem Class="text-body-2">
                                @item.DateTime.ToString("HH:mm")
                            </MListItem>
                            <MListItem Class="d-flex justify-center">
                                <MIcon Large>
                                    mdi-white-balance-sunny
                                </MIcon>
                            </MListItem>
                            <MListItem Class="d-flex justify-center">
                                @(item.Temp + "°")
                            </MListItem>
                        </MList>
                    </div>
                }
            </div>
        </div>
    </MCard>
}



