<MCard>
    <div class="d-flex align-items-center">
        <MCardTitle>
            <h1>
                @if (WeatherData.Lives != null)
                {
                    @WeatherData.Lives.Temp
                }
                ℃
            </h1>
        </MCardTitle>
        <MAvatar Size="100" Tile>
            <MIcon XLarge>mdi-weather-cloudy</MIcon>
        </MAvatar>
    </div>
    <div>
        @if(WeatherData.ForecastDay != null)
        {
            @foreach (var item in WeatherData.ForecastDay)
            {
                <div>@item.Date.ToString("yyyy-MM-dd")</div>
                <div>@item.Weather</div>
                <div>@item.MinTemp</div>
                <div>@item.MaxTemp</div>
            }
        }
    </div>
    <MButton OnClick="InitWeather">刷新</MButton>
</MCard>

