@using YourWeather.Model.Enum

<div class="text-h6 settings-tile">数据</div>
<MCard Class="settings-card">
    <MList>
        <MSubheader Class="d-sm-none">数据</MSubheader>
        <MListItem OnClick="()=>_dialogWeatherSource = true">
            <MListItemContent>
                更换天气源
            </MListItemContent>
            <MListItemAction>
                <MIcon>mdi-chevron-right</MIcon>
            </MListItemAction>
        </MListItem>
    </MList>

</MCard>
<div class="text-h6 settings-tile">显示</div>
<MCard Class="settings-card">
    <MList>
        <MSubheader Class="d-sm-none">显示</MSubheader>

        @if (!OperatingSystem.IsBrowser())
        {
            <MListItem OnClick="()=>_dialogTheme = true">
                <MListItemContent>
                    深色模式
                </MListItemContent>
                <MListItemAction>
                    <MIcon>mdi-chevron-right</MIcon>
                </MListItemAction>
            </MListItem>
        }
        else
        {
            <MListItem>
                <MListItemContent>
                    深色模式
                </MListItemContent>
                <MListItemAction>
                    <MSwitch @bind-Value="SwitchTheme"></MSwitch>
                </MListItemAction>
            </MListItem>

        }

        <MDivider Class="mx-3 mx-sm-0"></MDivider>

        <MListItem OnClick="()=>_dialogLanguage = true">
            <MListItemContent>
                切换语言
            </MListItemContent>
            <MListItemAction>
                <MIcon>mdi-chevron-right</MIcon>
            </MListItemAction>
        </MListItem>

        <MDivider Class="mx-3 mx-sm-0"></MDivider>

        <MListItem OnClick="()=>_dialogIndexContentManager = true">
            <MListItemContent>
                首页内容管理
            </MListItemContent>
            <MListItemAction>
                <MIcon>mdi-chevron-right</MIcon>
            </MListItemAction>
        </MListItem>
    </MList>
</MCard>
<div class="text-h6 settings-tile">关于</div>
<MCard Class="settings-card">
    <MList>
        <MSubheader Class="d-sm-none">关于</MSubheader>
        <MListItem OnClick="()=>_dialogAppInformation = true">
            <MListItemContent>
                应用信息
            </MListItemContent>
            <MListItemAction>
                <MIcon>mdi-chevron-right</MIcon>
            </MListItemAction>
        </MListItem>

        <MDivider Class="mx-3 mx-sm-0"></MDivider>

        <MListItem OnClick="()=>ViewSourceCode()">
            <MListItemContent>
                查看源代码
            </MListItemContent>
            <MListItemAction>
                <div @onclick:stopPropagation="true">
                    <MButton OnClick="()=>_dialogSourceCode = true"
                             Style="text-transform:initial;"
                             Outlined>
                        <MIcon Color="@(IsDark()?"white":"black")">
                            @(SelectCodeSourceItem.Icon)
                        </MIcon>
                        @(SelectCodeSourceItem.Text)
                        <MIcon>@(_dialogSourceCode ? "mdi-chevron-up" : "mdi-chevron-down")</MIcon>
                        </MButton>
                    </div>

                </MListItemAction>

            </MListItem>

            <MDivider Class="mx-3 mx-sm-0"></MDivider>

            <MListItem>
                <MListItemContent>
                    第三方版权
                </MListItemContent>
                <MListItemAction>
                    <MIcon>mdi-chevron-right</MIcon>
                </MListItemAction>
            </MListItem>

            <MDivider Class="mx-3 mx-sm-0"></MDivider>

            <MListItem>
                <MListItemContent>
                    日志
                </MListItemContent>
                <MListItemAction>
                    <MIcon>mdi-chevron-right</MIcon>
                </MListItemAction>
            </MListItem>

        </MList>
    </MCard>
@if (!OperatingSystem.IsBrowser())
{
    <MCard>
        <MListItem OnClick="()=>_dialogExit = true">
            <MListItemContent>
                退出
            </MListItemContent>
            <MListItemAction>
                <MIcon>mdi-exit-to-app</MIcon>
            </MListItemAction>
        </MListItem>
    </MCard>
    <MDialog @bind-Value="_dialogExit" MaxWidth="420">
        <MCard>
            <MCardTitle Class="subtitle-1 justify-center">
                确认退出应用吗？
            </MCardTitle>
            <MCardActions>
                <MButton Class="flex-grow-1"
                     Text
                     OnClick="()=>_dialogExit = false">
                    取消
                </MButton>
                <MButton Class="flex-grow-1"
                     Text
                     Color="error"
                     OnClick="()=>ExitApp()">
                    确认
                </MButton>
            </MCardActions>
        </MCard>
    </MDialog>
}

<MDialog MaxWidth="420"
         @bind-Value="_dialogWeatherSource">
    <MCard>
        <MCardTitle>
            更换天气源
            <MSpacer></MSpacer>
            <MButton Icon OnClick="()=>_dialogWeatherSource = false">
                <MIcon>mdi-close</MIcon>
            </MButton>
        </MCardTitle>
        <MDivider></MDivider>
        <MCardText>
            <MRadioGroup @bind-Value="SelectWeatherSourceItem"
                         Mandatory>
                @foreach (var item in WeatherSourceItems)
                {
                    <MRadio Label="@(item.Name)"
                        Value="@item"
                        Color="@(IsDark()?"white":"black")">
                    </MRadio>
                    <div class="ms-8 mb-2 body-2">@item.Description</div>
                }
            </MRadioGroup>
        </MCardText>
    </MCard>
</MDialog>

<MDialog MaxWidth="420"
         @bind-Value="_dialogTheme">
    <MCard>
        <MCardTitle>
            深色模式
            <MSpacer></MSpacer>
            <MButton Icon OnClick="()=>_dialogTheme = false">
                <MIcon>mdi-close</MIcon>
            </MButton>
        </MCardTitle>
        <MDivider></MDivider>
        <MCardText>
            <MRadioGroup @bind-Value="ThemeState"
                         Mandatory>
                <MRadio Label="跟随系统"
                        Value="ThemeState.System"
                        Color="@(IsDark()?"white":"black")">
                </MRadio>
                <div class="mb-2"></div>
                <MRadio Label="浅色"
                        Value="ThemeState.Light"
                        Color="@(IsDark()?"white":"black")">
                </MRadio>
                <div class="mb-2"></div>
                <MRadio Label="深色"
                        Value="ThemeState.Dark"
                        Color="@(IsDark()?"white":"black")">
                </MRadio>
            </MRadioGroup>
        </MCardText>
    </MCard>
</MDialog>

<MDialog MaxWidth="420"
         @bind-Value="_dialogLanguage">
    <MCard>
        <MCardTitle>
            更改语言
            <MTooltip Bottom>
                <ActivatorContent>
                    <MIcon @attributes="@context.Attrs">mdi-information-outline</MIcon>
                </ActivatorContent>
                <ChildContent>
                    <span>暂不可用</span>
                </ChildContent>
            </MTooltip>
            
            <MSpacer></MSpacer>
            <MButton Icon OnClick="()=>_dialogLanguage= false">
                <MIcon>mdi-close</MIcon>
            </MButton>
        </MCardTitle>
        <MDivider></MDivider>
        <MCardText>
            <MRadioGroup @bind-Value="SelectLanguageItem"
                         Disabled
                         Mandatory>
                @foreach (var item in LanguageItems)
                {
                    <div class="mb-2"></div>
                    <MRadio Label="@(item.Text)"
                        Value="@(item)"
                        Color="@(IsDark()?"white":"black")">
                    </MRadio>
                }

            </MRadioGroup>
        </MCardText>
    </MCard>
</MDialog>

<IndexContentManager @bind-Value="_dialogIndexContentManager"></IndexContentManager>

<MDialog MaxWidth="420"
         @bind-Value="_dialogAppInformation">
    <MCard>
        <MCardTitle>
            应用信息
            <MSpacer></MSpacer>
            <MButton Icon OnClick="()=>_dialogAppInformation= false">
                <MIcon>mdi-close</MIcon>
            </MButton>
        </MCardTitle>
        <MDivider></MDivider>
        <MCardText>
            <MSimpleTable>
                <tbody>
                    <tr>
                        <td>应用</td>
                        <td>你的天气</td>
                    </tr>
                    <tr>
                        <td>作者</td>
                        <td>Yu-Core</td>
                    </tr>
                    <tr>
                        <td>版本</td>
                        <td>@AppVersion</td>
                    </tr>
                </tbody>
            </MSimpleTable>
        </MCardText>
    </MCard>
</MDialog>

<MDialog MaxWidth="420"
         @bind-Value="_dialogSourceCode">
    <MCard>
        <MCardTitle>
            更改来源
            <MSpacer></MSpacer>
            <MButton Icon OnClick="()=>_dialogSourceCode = false">
                <MIcon>mdi-close</MIcon>
            </MButton>
        </MCardTitle>
        <MDivider></MDivider>
        <MCardText>
            <MRadioGroup @bind-Value="SelectCodeSourceItem"
                         Mandatory>
                @foreach (var item in CodeSourceItems)
                {
                    <div class="mb-2"></div>
                    <MRadio Value="@item"
                        Label="@(item.Text)"
                        Color="@(IsDark()?"white":"black")">
                    </MRadio>
                }
            </MRadioGroup>
        </MCardText>
    </MCard>
</MDialog>
