@inherits LayoutComponentBase
@using YourWeather.Razor.Pages

<MApp Dark="IsDark">
    <MMain Class="@(IsDark ?"":"grey lighten-4")">
        @if (MasaBlazor.Breakpoint.SmAndUp)
        {
            <MNavigationDrawer App
                           Permanent>
                <MList Rounded>
                    <MListItemGroup @bind-Value="SelectItem">
                        @foreach (var navigationButton in NavigationButtons)
                        {
                            <MListItem OnClick="()=>ChangeView(navigationButton.Id)">
                                <MListItemIcon>
                                    <MIcon>@GetIcon(navigationButton)</MIcon>
                                </MListItemIcon>
                                <MListItemTitle>@navigationButton.Title</MListItemTitle>
                            </MListItem>
                        }
                    </MListItemGroup>
                </MList>
            </MNavigationDrawer>
        }

        <MContainer>
            <div class="swiper main-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div id="pullToRefresh" style="margin:4px;">
                            <PageWeather></PageWeather>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div style="margin:4px;">
                            <PageLocation></PageLocation>
                        </div>

                    </div>
                    <div class="swiper-slide">
                        <div style="margin:4px;">
                            <PageSettings></PageSettings>
                        </div>
                    </div>
                </div>
            </div>
        </MContainer>
    </MMain>

    <MBottomNavigation Class="d-flex justify-space-around d-sm-none "
                       @bind-Value="SelectItem"
                       App
                       Shift>
        @foreach (var navigationButton in NavigationButtons)
        {
            <MButton OnClick="()=>ChangeView(navigationButton.Id)">
                <span>@navigationButton.Title</span>
                <MIcon>@GetIcon(navigationButton)</MIcon>
            </MButton>
        }

    </MBottomNavigation>
</MApp>
