@inherits LayoutComponentBase

<MApp Dark="IsDark">
    <div class="d-flex" style="height:100%;">
        <MNavigationDrawer Class="d-none d-sm-block"
                           Permanent>
            <MList Rounded>
                <MListItemGroup @bind-Value="SelectItem">
                    @foreach (var navigationButton in NavigationButtons)
                    {
                        <MListItem Href="@navigationButton.Href">
                            <MListItemIcon>
                                <MIcon>@GetIcon(navigationButton)</MIcon>
                            </MListItemIcon>
                            <MListItemTitle>@navigationButton.Title</MListItemTitle>
                        </MListItem>
                    }
                </MListItemGroup>
            </MList>
        </MNavigationDrawer>
        <MMain Class="grey lighten-5">
            <MContainer>
                @Body
            </MContainer>
        </MMain>
    </div>

    <MBottomNavigation Class="d-flex justify-space-around d-sm-none "
                       @bind-Value="SelectItem"
                       App
                       Shift>
            @foreach (var navigationButton in NavigationButtons)
            {
                <MButton Href="@navigationButton.Href">
                    <span>@navigationButton.Title</span>
                    <MIcon>@GetIcon(navigationButton)</MIcon>
                </MButton>
            }

    </MBottomNavigation>
</MApp>
